<footer class="footer">
    <div class="footer__links">
      <p class="footer__company">Inside4,LLC</p>
      <a class="footer__links--link" routerLink="/terms">Terms</a>
      <a class="footer__links--link" routerLink="/privacy">Privacy</a>
    </div>
    <div class="footer__social-icons">
      <span class="icon">
        <img
          class="icon__img"
          src="../../../../../assets/images/icons/facebook-outline.png"
        />
      </span>
      <span class="icon">
        <img
          class="icon__img"
          src="../../../../../assets/images/icons/instagram-outline.png"
        />
      </span>
    </div>
  </footer>
  