.sm-margin-right {
    margin-right: 1rem !important;
}

.sm-margin-top {
    margin-top: 1rem !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.text-center {
    text-align: center !important;
}