<app-unauthenticated-navbar />
<div class="pricing-page__masthead">
  <div class="pricing-page__masthead--container">
    <img class="pricing-page__avatar" [src]="nanci" alt="Avatar Image" />
    <h1 class="pricing-page__header-md">Trade like the best.</h1>
    <p class="pricing-page__para">Get your plan now.</p>
  </div>
</div>

<div class="pricing-page">
  <div class="pricing-page__header--wrapper">
    <h1 class="pricing-page__header-lg">Inside4 Pricing</h1>
      <div class="pricing-page__row">
        <mat-slide-toggle class="pricing-page__toggle"></mat-slide-toggle>    
        <p class="pricing-page__para">Annual pricing (25% cheaper)</p>
      </div>
  </div>
  <app-pricing-card></app-pricing-card>
</div>
<app-footer />
