.side-panel-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
    margin-top: 2rem;
    border-right: 1px solid #e0e0e0;

    &__section {
        display: flex;
        justify-content: flex-end;
        padding: 1rem;

        &--col {
            min-width: 200px;
            display: flex;
            flex-direction: column;
        }

        &--header {
            font-weight: 400;
        }

        &--item {
            color: #3f3f3f;
            font-weight: 300;
            position: relative;
            text-align: center;
            display: inline-block;
            text-decoration: none;
            width: fit-content;
            cursor: pointer;
            white-space: nowrap;

            &::before {
                content: "";
                position: absolute;
                width: 0;
                height: 1px;
                background-color: #3f3f3f;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                transition: width 0.3s ease;
            }

            &:hover::before {
                width: 100%;
                max-width: 100%;
            }
        }


    }
}