.pricing-card {
    padding: 2rem;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid #e0e0e0;

    &__row {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        &--sm {
            display: flex;
            align-items: center;
            padding: .5rem 0;
        }
    }

    &__header {
        &-lg {
            font-size: 54px;
            font-weight: 600;
            margin-bottom: 1rem;
        }

        &-md {
            font-size: 27px;
            font-weight: 400;
            margin-bottom: .25rem;
        }
    }

    &__para {
        margin-bottom: 0;
    }
  
    &__action-btn {
        background-color: #37C625 !important;
    }

    &__icon {
        width: 18px;
        height: 18px;
        margin-right: .75rem;
    }
}
