/* You can add global styles to this file, and also import other style files */
@import './assets/scss/base/flex';
@import './assets/scss/base/utilities';

html, body { height: 100%; }
body { margin: 0; font-family: 'Raleway', sans-serif; }
.super-script { font-size: 20px; }