.order-summary {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    padding-left: 2rem;
    max-width: 300px;

    &__header {

        &-sm {
            font-weight: 500;
        }
    }

    &__para {
        margin-bottom: 0;
    }

    &__row {

        &--sm {
            padding: 1rem 0;
            display: flex;
            justify-content: space-between;
        }
    }

    &__checkbox {
        font-size: 11px;
        margin-left: -.5rem;
        margin-bottom: 1rem;

        &--wrapper {
            display: flex;
        }
    }
}